/*
 *= require semantic-ui
 *= require_tree .
 *= require_self
 */

body {
    padding-top: 40px;
    height: 100%;
    min-height: 100%;
}

.content {
    min-height: 100%;
}

.footer {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    text-align: center;
    width: 100%;
    background-color: #eee;
    color: #999;
}